<!-- <app-s1></app-s1>
<app-s2></app-s2>


<br>
<br>

<app-asha></app-asha>
<app-punith></app-punith> -->




<!-- <app-addaccount></app-addaccount>
<app-payment></app-payment>
<app-checkbalance></app-checkbalance>  -->

<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-lifecyclehooks></app-lifecyclehooks> -->
<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true" style="text-align: center;">
      Bank-Details
    </button>
    <button type="button" routerLink="emi-calculator" class="list-group-item list-group-item-action" style="text-align: center;">Emi-Calculator</button>
    <button type="button" routerLink="add-account" class="list-group-item list-group-item-action" style="text-align: center;">Add-Account</button>
    <button type="button" routerLink="payment" class="list-group-item list-group-item-action" style="text-align: center;">Payment</button>
    <button type="button" routerLink="check-balance" class="list-group-item list-group-item-action" style="text-align: center;">Check-Balance</button>
  </div>

<!-- <div class="emi">
    <a routerLink="emi-calculator">Emi-Calculator</a><br>
</div>

<a routerLink="add-account">Add-Account</a><br>
<a routerLink="payment">Payment</a><br>
<a routerLink="check-balance">Check-Balance</a><br> -->

 <router-outlet></router-outlet> 