
.modal-body .t{
    margin-left: 90px;
}
.modal-body .n{
    margin-left: 88px;
}
.modal-body .n-n{
    margin-left: 49px;
}
.modal-body .i{
    margin-left: 41px;
}
.modal-body .b{
    margin-left: 16px;
}

