<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    payment
  </button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Account No:<input type="number" class="n" #phone><br>
            Phone Number:<input type="number" class="n-n" #account><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Pay</button>
        </div>
      </div>
    </div>
  </div> -->
<!-- Button trigger modal -->


<div class="container">
  <div class="row">
    <div class="col-5" style="margin: 40px auto;">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 162px;">
        Check-Balance
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Check Balance</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="row">
                  <div class="col-sm-3">
                    <label>Phone Number</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="number" [(ngModel)]="number" style="margin-left: 123px;">
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-4">
                  </div>
                </div>
                <div class=" row">
                  <div class="col-sm-6">
                    <label>Amount</label>
                  </div>
                  <div class="col-sm-6">
                    <input disabled type="number" [(ngModel)]="amount">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <!-- <button class="btn btn-success" routerLink="">Close
              </button> -->
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="verify()">verify</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>